# Ignore WordPress core files
wp-admin/
wp-includes/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Ignore configuration files
wp-config.php
wp-config-sample.php

# Ignore development and production-specific files
*.log
*.sql
*.pot
*.mo
*.po
.htaccess
web.config
.DS_Store
Thumbs.db

# Ignore Node.js-related files
node_modules/
npm-debug.log
